#map {
        height: 500px;
        width:800px;
        margin:auto; 
       }
body {

	background-color: beige;	
}
h1{
    text-align: center;
}
h4 {
   text-align: center;
}
h3 {
   color: red;
   border: 1px solid red;
   text-align: center;
 }