#map {
        height: 500px;
        width:800px;
        margin:auto; 
       }


/*body {

	background-color: lemonchiffon;	
}

#topbanner{

  padding: 5px;
  width:98%;
  text-align: center;
  border: 3px solid black;
  border-radius: 10px;
  background-color: khaki;
}

h3 {
   color: red;
   border: 1px solid red;
   text-align: center;
 }
 #foot{ 
  clear: both;
  margin-bottom: 0px;
  width:100%;
  background-color: khaki;
  text-align: center;
}

#container1{
  background-color: khaki;
}*/